body {
  margin: 0;
  font-family: arial;
}

h3 {
  margin:0;
}

.header-top {
  padding: 0.7em 1em;
}

.logo-fiddler {
  display: block;
  max-height: 60px;
  width: auto;
}

.header-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: default;
  outline: inherit;
  padding: 0.7em;
  border: 1px solid rgba(0, 0, 0, .5);
  margin: 15px;
}

button.active {
  background-color: #ff00a4;
  color: white;
  border: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: default;
  outline: inherit;
}

.toggle-button:hover {
  background-color: rgb(230, 230, 230);
}

.close-panel {
  border-radius: 40px;
}

.toggle-all {
  font-size: .7em;
}

.active .filter-title {
  color: #ff00a4;
}

.content-wrapper {
  margin-top: 1em;
}

.segment-wrapper {
  border-bottom: 1px solid #d4d4d4;
  border-spacing: 1px;
  font-size: 0.9em;
}

.segment-wrapper:nth-child(odd) {
  background-color: rgba(225, 225, 225, .2);
}

.timeline {
  font-weight: 700;
}

.toggle-categories-wrapper {
  padding: .5em;
  column-count: 5;
}

.toggle-category {
  cursor: default;
}

.toggle-category span {
  padding: .2em;
}

.toggle-visible:before {
  content: '\2612';
  font-size: 20px;
}

.toggle-visible { 
  color: #ff00a4;
}

.toggle-visible:hover {
  color: #f00699;
}

.toggle-hidden { 
  color: #f00698;
}

.toggle-hidden:before {
  content: '\2610';
  font-size: 20px;
}

.filter-wrapper {
  display: inline-block;
}

.filter-input {
  border: 1px solid rgba(0, 0, 0, .5);
  height: 20px;
  margin: 5px;
}

.sort-button {
  height: 100%;
}
.sort-button.active {
  color: #ff00a4;
  background-color: transparent;
}

.item-overview {
  padding: 1em;
  cursor: default;
  background-color: #14153f;
  margin-bottom: 1px;
}

.item-overview:hover {
  background-color: #0e0f30;
}

.overview-title {
  color: #fff;
  font-family: montserrat-bold, sans-serif;
}

.platform-wrapper:nth-child(odd) {
  background-color: rgba(225, 225, 225, .6);
}

.platform-wrapper:nth-child(even) {
  background-color: rgba(225, 225, 225, .3);
}

.item-ad-info {
  width: 100%;
  border-spacing: 0;
}

.ad-image {
  max-width: 200px;
  padding: 10px;
  display: block;
}

.platform-title {
  align-self: center;
  text-align: center;
  padding: 5% 0;
}

.platform-name {
  text-align: left;
  background-color: rgba(225, 225, 225, .6);
  font-weight: 700;
  padding: 1em;
  border-top: 1px solid rgba(225, 225, 225, .9);
}

.top-line-header {
  padding: .2em 0;
}

.top-line-info {
  text-align: center;
  display: inline-block;
  width: 40%;
}

.column-title {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-content {
  flex: 0 1 25%;
  text-align: center;
  display: inline-block;
}

.column-content {
  padding-left: 1.4em;
}

.column-content:last-of-type {
  padding-left: 0;
  margin-left: -.7em;
}

.item-overview {
  padding: 1em 0;
  color: white;
}

.list-item {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.table-header {
  background-color: rgb(240,240,240);
  color: black;
}

.item-info-header {
  background-color: #ff00a4;
}

table th {
  line-height: 2;
  color: #fff;
}

.no-content {
  max-width: 100%;
  text-align: center;
  padding: 7em;
  font-weight: 700;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.loading-message {
  font-size: 1.1em;
  max-width: 100%;
  text-align: center;
  padding: 5em;
  letter-spacing: 3px;
  /* animation: blink 1s step-start 0s infinite; */
  /* -webkit-animation: blink 1s step-start 0s infinite; */
}

.error-message {
  font-size: 1.1em;
  max-width: 100%;
  text-align: center;
  padding: 5em;
}
table td {
  width: 12%;
  text-align: center;
}

.top-line-header-wrapper {
  padding: 10px 10px 0;
  text-align: center;
  font-weight: 700;
}

.top-line-header-wrapper:nth-child(2),
.top-line-header-wrapper:nth-child(3),
.top-line-header-wrapper:nth-child(4) {
  border-left: 1px solid rgba(0, 0, 0, .4);
}

a:-webkit-any-link {
  text-decoration: none;
}

a .ad-link {
  color: #14153f;
}

a .ad-link:hover {
  color: #ff00a4;
}
